<% if user_signed_in? %>
<h1>Your hobbies</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Hours completed in your hobby</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>
      <% @hobbies.each do |hobby| %>
      <tr>
        <td><%= hobby.name %></td>
        <td><%= hobby.description %></td>
        <td><%= hobby.sunday %></td>
        <td><%= hobby.monday %></td>
        <td><%= hobby.tuesday %></td>
        <td><%= hobby.wednesday %></td>
        <td><%= hobby.thursday %></td>
        <td><%= hobby.friday %></td>
        <td><%= hobby.saturday %></td>
        <td><%= hobby.created_at %></td>
        <td><button class="button button-positive"><%= link_to 'Show', hobby %></button></td>
        <td><button class="button button-energized"><%= link_to 'Edit', edit_hobby_path(hobby) %></button></td>
        <td><button class="button button-assertive"><%= link_to 'Delete', hobby, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<a href="<%= new_hobby_path %>"><button class="button button-positive">New Hobby</button></a>
<% else %>
  <h1>Please Sign in or Sign up</h1>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </p>
<% end %>
