<h1>Listing hobbies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hobbies.each do |hobby| %>
      <tr>
        <td><%= hobby.name %></td>
        <td><%= hobby.description %></td>
        <td><%= hobby.sunday %></td>
        <td><%= hobby.monday %></td>
        <td><%= hobby.tuesday %></td>
        <td><%= hobby.wednesday %></td>
        <td><%= hobby.thursday %></td>
        <td><%= hobby.friday %></td>
        <td><%= hobby.saturday %></td>
        <td><%= hobby.created_at %></td>
        <td><%= link_to 'Show', hobby %></td>
        <td><%= link_to 'Edit', edit_hobby_path(hobby) %></td>
        <td><%= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hobby', new_hobby_path %>
