<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hobby.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hobby.description %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @hobby.sunday %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @hobby.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @hobby.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @hobby.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @hobby.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @hobby.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @hobby.saturday %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @hobby.created_at %>
</p>

<%= link_to 'Edit', edit_hobby_path(@hobby) %> |
<%= link_to 'Back', hobbies_path %>
