<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hobby.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hobby.description %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @hobby.sunday %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @hobby.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @hobby.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @hobby.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @hobby.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @hobby.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @hobby.saturday %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @hobby.created_at %>
</p>

<%= link_to 'Edit', edit_hobby_path(@hobby) %> |
<%= link_to 'Back', hobbies_path %>
<% else %>
  <h1>you must signin or sign up</h1>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </p>
<% end %>